:root {
  --background-color: #fff;
  --button-background: #edf8fd;
  --accent-color: #365461;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid var(--accent-color);
  padding: 1rem;

  a {
    background-color: var(--background-color);
    padding: 0.5rem;
    width: 33%;
    border: none;
    color: #000;
    text-decoration: none;
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }
}

.right-border {
  border-right: 2px solid var(--accent-color);
}

header {
  width: 100%;
  background-image: url("header_urchin.jpg");
  height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  margin: 2%;
}

h3 {
  margin-top: 2rem;
  font-family: "Montserrat Alternates", "Tahoma", sans-serif;
  line-height: 0.8em;
}

h1 {
  font: bold 2em "Montserrat", "Tahoma", sans-serif;
  max-width: 80ch;
  line-height: 0.9em;
}

p,
h2 {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 450;
  max-width: 80ch;
  line-height: 0.9em;
}

a {
  text-decoration: none;
  font-family: "Montserrat", "Tahoma", sans-serif;
  color: #000;
}

.pair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  img {
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  main {
    margin: 1%;
  }
  .pair {
    display: flex;
    flex-direction: column;
  }
}
