:root {
  --background-color: #40916c;
  --accent-color: #2d6a4f;
  --marquee-color: #d8f3dc;
}
* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  border: 2px solid var(--marquee-color);
  padding: 1rem;
}

a {
  background-color: var(--background-color);
  padding: 0.5rem;
  width: 33%;
  border: none;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.right-border {
  border-right: 2px solid var(--marquee-color);
}

header {
  display: flex;
  align-items: center;
  height: 20rem;
  padding: 8rem;
  margin-bottom: 2rem;
  background-image: url(roadrunner.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  margin-top: 2rem;
  font-family: "Water Brush", "Tahoma", sans-serif;
  color: var(--accent-color);
  font-size: 4rem;
}

h2 {
  font-family: "Water Brush", "Tahoma", sans-serif;
  color: var(--accent-color);
}

p,
marquee {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 450;
  max-width: 80ch;
  color: var(--accent-color);
}

.fast {
  color: var(--marquee-color);
  font-family: "Montserrat", "Tahoma", sans-serif;
}

.pair {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    width: 80%;
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  animation: scroll-left 5s linear infinite;
}

.carousel-item {
  flex-shrink: 0;
  width: 40%; /* Adjust to your image size */
  height: auto; /* Keeps aspect ratio */
}

/* Keyframes to make the carousel scroll left */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Move by half the container's width */
  }
}
